# -----------------------------------------------------------------
# DEPENDÊNCIAS DO PROJETO POSTECH-CHALLENGE
# Para instalar todas, rode: pip install -r requirements.txt
# -----------------------------------------------------------------

# --- Core para Manipulação e Análise de Dados ---
pandas>=2.0.0
numpy>=1.24.0

# --- Coleta de Dados (Web/API) ---
yfinance
lxml

# --- Banco de Dados Local ---
duckdb
duckdb-engine

# --- Engenharia de Atributos ---
pandas-ta

# --- Machine Learning e Modelagem ---
scikit-learn  # Essencial para pré-processamento, métricas e modelos de baseline
lightgbm      # Nosso modelo de Gradient Boosting
tensorflow    # Para o modelo LSTM
optuna        # Para otimização de hiperparâmetros

# --- MLOps: Rastreamento de Experimentos ---
mlflow

# --- API e Servidor Web ---
fastapi     # Framework para a criação da API
uvicorn[standard] # Servidor ASGI para rodar a FastAPI

# --- Configuração e Ambiente ---
python-dotenv # Para carregar variáveis do arquivo .env

# --- Testagem ---
pytest # Para carregar variáveis do arquivo .env

# --- Desenvolvimento, Notebooks e Visualização ---
# (Podem ser movidas para um requirements-dev.txt se preferir)
jupyterlab
notebook
matplotlib
seaborn
ipykernel

# --- Qualidade de Código (Opcional, mas recomendado) ---
black       # Formatador de código automático
flake8      # Linter para encontrar erros e problemas de estilo
